html (lang="en")
head
  meta (charset="UTF-8")
  meta (http-equiv="X-UA-Compatible" content="IE=edge") 
  meta (name="viewport" content="width=device-width, initial-scale=1.0")
  link (href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous")
  link (rel="icon" href="https://image.flaticon.com/icons/png/512/3585/3585145.png" type="image" sizes="16x16")
  title Productos


body (class="body")

if (listaDeProductos.length === 0)
  p (class="fs-3 text-danger") No hay productos!
else { %>
      table (class="table table-light table-hover align-middle")
          thead
              tr
                  th (class="text-start fs-3 fw-normal") Nombre
                  th (class="text-start fs-3 fw-normal") Precio
                  th (class="text-start fs-3 fw-normal") Imagen
          tbody
              for (const productos of listaDeProductos)
                      td
                          #{productos.title}
                      td
                          #{productos.price}
                      td
                          img (style="width:4rem; height:4rem" src=productos.thumbnail)
                  <% } %>
          </tbody>
      </table>
      <% } %>

  style
    .table {
      margin: 5px 0 5px 0;
      width: 100%;
    }

    .thumbnail {
      width: 10rem;
      height: 10rem;
    }
html