<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Thumbnail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{title}}</td>
      <td>$ {{price}}</td>
      <td>{{thumbnail}}</td>
    </tr>
  </tbody>
</table>